<a href="https://colab.research.google.com/github/anas1IA/Problem_solving/blob/main/Practice_problem_solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [13]:
list1 =  [1,3,4,5]
list2  = [6,7,8,9]

In [4]:
list = list1 + list2
list

[1, 3, 4, 5, 6, 7, 8, 9]

In [11]:
def fussioner(list1 ,list2)->list:
  return list1 + list2

In [14]:
fussioner(list1 ,list2)

[1, 3, 4, 5, 6, 7, 8, 9]

In [17]:
new_list = sorted(list)
new_list

[1, 3, 4, 5, 6, 7, 8, 9]

In [64]:
lis =['false',1,0,1,2,0,1,3,"a"]
lis[2] == 0
len(lis)
for i in range(len(lis)) :
  print(i)

0
1
2
3
4
5
6
7
8

In [42]:
list=[]
list.append(0)
list.append(0)
list

[0, 0]

In [88]:
lis2 =['false',1,0,1,2,0,1,3,"a"]
lis4 = lis2 + [0]
lis4

['false', 1, 0, 1, 2, 0, 1, 3, 'a', 0]

In [96]:
def moveZeros(arr) :
  for i in range(len(arr)):
    if arr[i] == 0 :
     arr.remove(arr[i])
     arr =arr +[0]
  return arr

zero = 5*[0]
zero

[0, 0, 0, 0, 0]

In [93]:
def move_Zeros(arr):
    non_zeros = [num for num in arr if num != 0]
    zeros = [0] * (len(arr) - len(non_zeros))
    return non_zeros + zeros

In [94]:
move_Zeros(['false',1,0,1,2,0,1,3,"a"])

['false', 1, 1, 2, 1, 3, 'a', 0, 0]

In [ ]:
123  --> "123"

In [107]:
def number_to_string(num):
    # Return a string of the number here!
    return str(num)

In [108]:
 number_to_string(123)

'123'

In [ ]:
def __str__(self):
    elements = []
    for key, value in self.__dict__.items():
        elements.append("{key}='{value}'".format(key=key, value=value))
    return ', '.join(elements)

In [110]:
def number_to_string1(num):
    # Return a string of the number here!
    # return "%s" % num          # %-formatting
    # return str(num)            # int to string
    # return "{n}".format(n=num) # str.format()
    return f"{num}"

In [111]:
 number_to_string1(123)

'123'

In [117]:
number_to_string2 = lambda n: f"{n}"
number_to_string4 = lambda x : str(x)
number_to_string2(123)

'123'

In [118]:
number_to_string4(9)

'9'

In [119]:
def number_to_string10(num):
    return "{}".format(num)

In [120]:
number_to_string10(55)

'55'

In [122]:
def number_to_string(num):
    return "%s" % num
number_to_string(999)

'999'

In [124]:
def number_to_stringl(num):
    # Return a string of the number here!
    return ascii(num)
number_to_stringl(23)

'23'

In [129]:
def number_to_stringo(num):
    return '' + str(num) + ''

number_to_stringo(99)

'99'