<a href="https://colab.research.google.com/github/anas1IA/Problem_solving/blob/main/some_exercice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def invert(lst):
  return [-i  for i in lst ]

In [ ]:
invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

In [ ]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [ ]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == [] == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [ ]:
def invert(lst):
    return list(map(lambda x: -x, lst));

In [ ]:
invertv2 = lambda List:[-x for x in List]
invertv2([32,3,4])

[-32, -3, -4]

In [ ]:
list(map(lambda x: -x, ([1,2,3,4])))

[-1, -2, -3, -4]

In [ ]:
invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

In [ ]:
v =[[45, 12],(55,21),(19, -2),(104, 20)]
v[0][1]

12

In [ ]:
def open_or_senior(data):
  return ["Senior" if data[i][0] >= 55 and data[i][1] > 7 else "Open" for i in range(len(data))]

In [ ]:
open_or_senior([(72, 7), (45, 17), (12, 5), (53, 16), (33, 23), (50, 26)])

['Open', 'Open', 'Open', 'Open', 'Open', 'Open']

In [ ]:
(1, 0) --> 1 (1 + 0 = 1)
(1, 2) --> 3 (1 + 2 = 3)
(0, 1) --> 1 (0 + 1 = 1)
(1, 1) --> 1 (1 since both are same)
(-1, 0) --> -1 (-1 + 0 = -1)
(-1, 2) --> 2 (-1 + 0 + 1 + 2 = 2)

In [34]:
def get_sum(a,b):
  sum = a
  for i in range(b-a):
    sum+=(a+i+1)
  return sum

In [33]:
get_sum(0,-1)

0

## this problem :https://www.codewars.com/kata/55f2b110f61eb01779000053/train/python

In [3]:
for i in range(1,4):
  print(i)

1
2
3

In [35]:
def get_sum(a,b):
    return sum(range(min(a, b), max(a, b) + 1))