<a href="https://colab.research.google.com/github/anas1IA/Problem_solving/blob/main/some_exercice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def invert(lst):
  return [-i  for i in lst ]

In [ ]:
invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

In [ ]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [ ]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == [] == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [ ]:
def invert(lst):
    return list(map(lambda x: -x, lst));

In [ ]:
invertv2 = lambda List:[-x for x in List]
invertv2([32,3,4])

[-32, -3, -4]

In [ ]:
list(map(lambda x: -x, ([1,2,3,4])))

[-1, -2, -3, -4]

In [ ]:
invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

In [ ]:
v =[[45, 12],(55,21),(19, -2),(104, 20)]
v[0][1]

12

In [ ]:
def open_or_senior(data):
  return ["Senior" if data[i][0] >= 55 and data[i][1] > 7 else "Open" for i in range(len(data))]

In [ ]:
open_or_senior([(72, 7), (45, 17), (12, 5), (53, 16), (33, 23), (50, 26)])

['Open', 'Open', 'Open', 'Open', 'Open', 'Open']

In [ ]:
(1, 0) --> 1 (1 + 0 = 1)
(1, 2) --> 3 (1 + 2 = 3)
(0, 1) --> 1 (0 + 1 = 1)
(1, 1) --> 1 (1 since both are same)
(-1, 0) --> -1 (-1 + 0 = -1)
(-1, 2) --> 2 (-1 + 0 + 1 + 2 = 2)

In [ ]:
def get_sum(a,b):
  sum = a
  for i in range(b-a):
    sum+=(a+i+1)
  return sum

In [ ]:
get_sum(0,-1)

0

## this problem :https://www.codewars.com/kata/55f2b110f61eb01779000053/train/python

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
list = [1,23,4]
list[2]

4

In [ ]:
def get_sum(a,b):
    return sum(range(min(a, b), max(a, b) + 1))

In [ ]:
def oddest(a):
    list = [a[i]//2 for i in range(len(a))]
    max_value = max(list)
    max_index = list.index(max_value)
    return a[max_index]

In [ ]:
oddest([-17,11])

11

In [ ]:
def oddest(a):
    odd_list =[]
    for i in range(len(a)):
        if a[i]%2!=0:
            odd_list.append(a[i])
    return odd_list

In [ ]:
oddest([-17,2,4,11,12,14])

[-17, 11]

In [ ]:
def oddest(a):
    odd_list =[]
    for i in range(len(a)):
        if a[i]%2!=0:
            odd_list.append(a[i])
    list = [odd_list[i]//2 for i in range(len(odd_list))]
    max_value = max(list)
    max_index = list.index(max_value)
    return odd_list[max_index]

In [ ]:
oddest([1,3])

3

## This problem ,I should solve it :https://www.codewars.com/kata/5a905c2157c562994900009d

In [ ]:
def oddest(a):
    list = [a[i]//2 for i in range(len(a))]
    max_value = max(list)
    max_index = list.index(max_value)
    return a[max_index]

In [ ]:
oddest([-17,2,4,11,12,14])

2

In [ ]:
-11//2

-6

In [8]:
k=''
k

''

In [38]:
m = "012345"

In [39]:
print(len(m))

6

In [40]:
for i  in range(len(m)-1,-1,-1):
  print(i)

5
4
3
2
1
0

In [50]:
j = '543210'
j[0]

'5'

In [45]:
for i  in range(len(j[1:])-1,-1,-1):
  print(i)

4
3
2
1
0

In [48]:
def reverse_fun(n):
  k=''

  for i  in range(len(n)-1,-1,-1):
    k+=n[i]
  c =n[0]
  for i  in range(len(k[1:])-1,0,-1):
    c+=k[i]
  l=c[1]
  for i  in range(len(c[2:])-1,1,-1):
    l+=c[i]

  return c

In [49]:
reverse_fun("012345")

'01234'

## I should solve this problem :
https://www.codewars.com/kata/566efcfbf521a3cfd2000056