<a href="https://colab.research.google.com/github/anas1IA/Problem_solving/blob/main/some_exercice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def invert(lst):
  return [-i  for i in lst ]

In [9]:
invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

In [ ]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [ ]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == [] == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [10]:
def invert(lst):
    return list(map(lambda x: -x, lst));

In [20]:
invertv2 = lambda List:[-x for x in List]
invertv2([32,3,4])

[-32, -3, -4]

In [18]:
list(map(lambda x: -x, ([1,2,3,4])))

[-1, -2, -3, -4]

In [11]:
invert([1,2,3,4,5])

[-1, -2, -3, -4, -5]

In [26]:
v =[[45, 12],(55,21),(19, -2),(104, 20)]
v[0][1]

12

In [31]:
def open_or_senior(data):
  return ["Senior" if data[i][0] >= 55 and data[i][1] > 7 else "Open" for i in range(len(data))]

In [32]:
open_or_senior([(72, 7), (45, 17), (12, 5), (53, 16), (33, 23), (50, 26)])

['Open', 'Open', 'Open', 'Open', 'Open', 'Open']

In [ ]:
(1, 0) --> 1 (1 + 0 = 1)
(1, 2) --> 3 (1 + 2 = 3)
(0, 1) --> 1 (0 + 1 = 1)
(1, 1) --> 1 (1 since both are same)
(-1, 0) --> -1 (-1 + 0 = -1)
(-1, 2) --> 2 (-1 + 0 + 1 + 2 = 2)

In [122]:
def get_sum(a,b):
  sumM =0
  if b>a:
    sum = a
    for i in range(b-a):
      sum = sum +1
      sumM = a+sum
  if b == a:
    sumM=a
  else:
     sum =b
     for i in range(a-b):
      sum+=1
      sumM = b+sum
  return sumM+1

In [123]:
get_sum(-1,2)

2

## this problem :https://www.codewars.com/kata/55f2b110f61eb01779000053/train/python

In [114]:
for i in range(3):
  print(i)

0
1
2